**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
.venv/
venv/
.env
.env.*
!.env.example

# Bases locales & données sensibles
*.db
*.sqlite
*.sqlite3

# Logs & uploads
logs/
*.log
instance/uploads/*
!instance/uploads/.gitkeep

# Frontend
site-public/node_modules/
site-public/dist/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Build
dist/
build/
